In [1]:
%load_ext sql

In [2]:
#drill 1
SELECT
	trip_id
	duration
FROM
    trips
WHERE
	duration > 500
ORDER BY duration DESC

IndentationError: unexpected indent (<ipython-input-2-3a994886244b>, line 2)

In [ ]:
#drill 2
SELECT
	*
FROM
    stations
WHERE
	station_id=84

In [ ]:
#drill 3
SELECT
	mintemperaturef
FROM
    weather
where
	zip = 94301